$primaryColor: #e6dfcb;
$secondaryColor: #eb5a09;
$accentColor: #567947;
$fontColor: #030403;
$whiteColor: #F9F7F2;

$defaultFont: "Merienda", cursive;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;

